
{% if option.type == 'custom-format-numeral' %}

    <label class="control-label" {% if option.css %}style="{{ option.css }}"{% endif %}>{{ option.label | raw }}:</label>
    <div class="controls" {% if option.css %}style="{{ option.css }}"{% endif %}>
        <select style="width:50%"  id="{{ key }}" data-lbl-custom="{% trans "custom" %}"></select>
        <input style="width:40%" type="text" id="{{ key }}-user" class="hidden" />
    </div>

{% endif %}

