{% if option.type == 'radio' %}

    <label {%if option.labelWidth %}style="width:{{option.labelWidth}}"{%endif%} class="control-label" for="{{ key }}">{{ option.label|raw }}</label>
    <div class="controls form-inline">

    {% for opt in option.options %}
        <label class="radio">
            <input type="radio" name="{{ key }}" value="{{ opt.value }}" {% if option.default == opt.value %}checked="checked" {% endif %}/>&nbsp;{{ opt.label }}
        </label>
    {% endfor %}
    </div>

{% endif %}
