
{% if option.type == 'slider' %}

    <label class="control-label">{{ option.label | raw }}:</label>
    <div class="controls">
        <input type="range" style="width:80%" min="{{ option.min }}" max="{{ option.max }}" step="{{ option.step }}" id="{{ key }}" />
        <span class="value"></span>
    </div>

{% endif %}